#ontop {
    position: relative;
    text-align: center;   
}

#ontop a {
   color: rgb(88, 61, 61); 
}

#ontop #menuTop li{
    background-color: #c3e7f1;
}

#ontop li :hover {
    background-color: #1eb0d8;
}