
.active {
    background-color: #696d6e !important;
    box-shadow: 0px 0px 3px #bcb8b1;
}

.cursor-pointer {
    cursor: pointer;
}

.default-color{
   background-color: #b1b9b8;
}

.btn-sm{
    width: 50% !important;
    padding: 0%;
    height: 80%;
}

.h-100 {
    height: 100px;
}

.h-80 {
    height: 80px;
}

.side-position-right {
    position: fixed;
    top : 30px;
    right: -400px;

    height: 105%;
    width: 400px;
    background-color: whitesmoke;

    overflow-y: scroll;
}

.side-position-right-v {
    position: fixed;
    top : 0px;
    right: 0px;

    height: 105%;
    width: 400px;
    background-color: whitesmoke;
    transition-duration: 500ms;
    transform: translate(-350px -30px);

    overflow-y: scroll;
}

.btn_as_link{
    background: none!important;
    border: none;
    padding: 0!important;
    cursor: pointer
 }

 .center{
    margin-left: auto;
    margin-right: auto;
 }