body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#newsletter {
  position: relative;
  bottom: -800px;
}



.home {
  z-index: 10;
}

#carousel-header {
  height: 500px;
}

#services {
  background-color: #E27D60;
  height: 200px;
  width: 101%;
    /*align-items: center;
    justify-content: center; */
}

#services div div {
  height: 70px;
  background-color: rgb(143, 140, 138);
  border-radius: 50%;
  width: 70px;
  margin: auto;
}
